*{
	margin: 0;
	padding: 0;
	font-family: arial;
}
body{
	width: 100%;
	height: auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
#first-part{
	width: 100%;
	padding: 0px;
	overflow-y: auto;
}
.navbar{
	position: fixed;
	background-color: #fff;
	width: auto;
	position: fixed;
	border-radius: 5px;
	padding: 0px;
	margin: .5rem;
	z-index: 100000;
}
.navbar-nav{
	margin: auto;
}
.navbar-nav li a{
	font-size: 22px;
	font-family: 'helvetica neue';
	font-weight: 600;
}
.name{
	margin-top: 5rem;
}
.name h1{
  overflow: hidden; 
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


.typing2{
	font-size: 18px;
}
.profile-image{
    width: 150px;
    max-width: 100%;
    height: 150px;
    max-height: 100%;
}
.contact{
	display: flex;
	justify-content: space-around;
}
.g-mail a{
	font-size: 1.25rem;
	color: #212121;
	transition: 0.5s;
}
.phone a{
	font-size: 1.25rem;
	color: #212121;
	transition: 0.5s;
}
.g-mail a:hover{
	color: #D44638;
	text-decoration: none;
	transition: 0.5s;
}
.phone a:hover{
	color: #28a745;
	text-decoration: none;
	transition: 0.5s;
}
.mt-4{
	height: 4.5rem;
	line-height: 4.5rem;
	background-color: #212121;
}
.mt-4 a{
	color: #f1f1f1;
}
.fb-ic:hover{
	color: #4267b2;
	text-decoration: none;
}
.tw-ic:hover{
	color: #1da1f2;
	text-decoration: none;
}
.in-ic:hover{
	color: #0077b5;
	text-decoration: none;
}
.github-ic:hover{
	color: #fff;
	text-decoration: none;
}
.gitlab-ic:hover{
	color: #e24329;
	text-decoration: none;
}
.ins-ic:hover{
	color: #c9008c;
	text-decoration: none;	
}
.yt-ic:hover{
	color: #ff0000;
	text-decoration: none;
}
.mt-4 a i{
	cursor: pointer;
	transition: 0.6s;
}
.mt-4 a i:hover{
	transform: scale(1.3);
	transition: 0.6s;
}
h3 span{
	font-family: 'helvetica neue';
}
.information{
	padding-inline-start: 25px;
}
.information li{
	list-style-type: none;
}
.line{
	height: 10px;
	margin: 0px 30px;
	background-color: #d6d6d6;
}
.project-item{
	padding: 65px;
	color: #FFF;
	cursor: pointer;
}
.project-img{
	box-shadow: 0 0 1rem rgba(0,0,0,0.9);
	border-radius: 1rem;
}
.project-1{
	height: width;
	background-color: #77d07a;
	
}
.project-2{
	background-color: #333;
}
.project-3{
	background-color: #00bcd4;
}
.project-4{
	background-color: #607d8b;
}
.project-5{
	background-color: #a2962b;
}
.project-6{
	background-color: #9e9e9e;
}

.project-link{
	top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    z-index: 4;
    color: white;
    font-size: 3rem;
    opacity: 0;
    text-align: center;
    transition: all 0.3s linear;
}
.project-item a:hover{
	color: #fff;
	text-decoration: none;
}
.project-item:hover .project-link{
	transform: translate(-50%, -50%);
    opacity: 1;
}
.overlay{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 3;
	opacity: 0;
}
.project-item:hover .overlay{
    opacity: 0.5;

}
@media screen and (max-width: 600px) {
	h1{
		font-size: 2.25rem;
	}
	.g-mail a{
		font-size: 1rem;
	}
	.phone a{
		font-size: 1rem;
	}
	h3 span{
		font-size: 1.5rem;
	}
	.project-item{
		padding: 20px;
	}
	.mb-5, .my-5{
		margin-top: 1rem!important;
		margin-bottom: 1rem!important;
	}
	.fab{
		font-size: 22.5px;
	}
}