*{
	margin: 0;
	padding: 0;
}
*,
*::after,
*::before{
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	overflow: hidden;
	background: url(bg.jpg);
}
.sheet{
	position: absolute;

}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.key-up{
	display: flex;
	position: absolute;
	z-index: 100;
	top: 30%;
}
.keys{
	display: flex;
	position: absolute;
	top: 28%;
}
.key{
	background-color: #fff;
	border: 5px solid black;
	border-radius: .5rem;
	height: 35vh;
	width: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
kbd{
	font-size: 1rem;
}
span{
	font-size: 2rem;
	font-weight: 600;
}
.sharp{
	background-color: #000;
	color: #fff;
	height: 23vh;
	width: 6vh;
	position: relative;
}
.sharp kbd{
	font-size: 1rem;
}
.sharp span{
	font-size: 2rem;
	font-weight: 600;
}
.key[data-key="87"] {
  left: -52.5%;
}
.key[data-key="69"] {
  left: -42.5%;
}
.key[data-key="84"] {
  left: -10%;
}
.key[data-key="89"] {
  left: 0%;
}
.key[data-key="85"] {
  left: 10%;
}
.key[data-key="79"] {
  left: 42.5%;
}
.key[data-key="80"] {
  left: 52.5%;
}
.playing{
	transform: scale(.95);
    border-color: #f9f88f;
    box-shadow: 0 0 1rem #f9f88f;
    transition: all 0.1s;
    color: #f9f88f;
}